<div class = "select">
<select name="id1">
  {{#each profiles}}
  <option value="{{id}}">{{name}}</option>
  {{/each}}
</select>

<select name="id2">
  {{#each profiles}}
  <option value="{{id}}">{{name}}</option>
  {{/each}}
</select>
</div>

<div class = "selectButton">
  <input type="submit" value="Battle">
</div>
