<form action="/battles" method="post" class = "select">
<select name="id1">
  {{#each profiles}}
  <option value="{{id}}">{{name}}</option>
  {{/each}}
</select>

<select name="id2">
  {{#each profiles}}
  <option value="{{id}}">{{name}}</option>
  {{/each}}
</select>


<div class = "selectButton">
  <input type="submit" value="Battle" href="/battles">
</div>
</form>
