<form method="post" action="/">
<div class="profiles">

<select name="id1">
  {{#each profiles}}
  <option value="{{id}}">{{name}}</option>
  {{/each}}
</select>



<select name="id2">
  {{#each profiles}}
  <option value="{{id}}">{{name}}</option>
  {{/each}}
</select>

</div>

<input type="submit" value="vote">

<div>
<h3>podium</h3>
</div>
</form>
