
.app {
  margin-left: 8em;
}

.profiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 1em 1em 1em;
  align-items: center;
  width: 300px;
  height: 100px;
}

.singlePro {

}
