<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team-Unicorn</title>
    <link rel="stylesheet" href="../public/main.css">
  </head>
  <body>
    <div class= 'app'>
      <h1 class= 'title'>Battle of Miromiro Alter Egos</h1>
      <a class = 'nav' href="/">home<a/>
        {{{body}}}
    </div>
  </body>
</html>
